//@todo change edit place because selection option take too many resource
<template>
    <div>
        <form class="search" v-on:submit="search()">
            <div class="row">
                <div class="col-md-3 col-lg-3"></div>
                <div class="col-md-6 col-lg-6">
                    <div class="input-group">
                        <input type="text" v-model="searching.name" class="form-control" placeholder="Start search ...">
                        <div class="input-group-append"> 
                            <button class="btn btn-primary ">Search</button>
                        </div>           
                    </div>
                </div>
                <div class="col-md-3 col-lg-3"></div>
            </div>
        </form>  
        <form class="add_new" v-on:submit="create()">
            <div class="row">
                <div class="col-md-2 col-lg-2 label">
                    <label for = "name">Name:</label>
                </div> 
                <div class="col-md-3 col-lg-3">
                    <div class="form-group">
                        <input type="text" v-model="new_album.name" class="form-control" placeholder="Enter Name">          
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">                    
                    <div class="form-group">
                        <select class="form-control" v-model="new_album.artist_id">
                            <option disabled value="">Choose one</option>
                            <option v-for="artist, index in artists" v-bind:value="artist.id">
                                {{artist.name}}
                            </option>
                        </select>       
                    </div>
                </div>
                <button class="btn btn-primary">Create</button>
            </div>
        </form>
        <div class="table">
            <div class="table-header">
                <div class="row">
                    <div class="col-md-1 col-lg-1"></div>                
                    <div class="col-md-1 col-lg-1">
                        <label>ID</label>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <label>Artist</label>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label>Updated</label>
                    </div>
                    <div class="col-md-1 col-lg-1">
                    </div>
                    <div class="col-md-1 col-lg-1">
                    </div>
                </div>  
            </div>
            <div class="table-body">
                <div class="row" v-for="album, index in albums">
                    <div class="col-md-1 col-lg-1">
                        <button v-if="album.favorite === true" class="btn btn-primary" v-on:click="unlike(album.id, index)">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>                       
                        <button v-else class="btn btn-primary" v-on:click="like(album.id, index)">
                            <i class="fa fa-star empty" aria-hidden="true"></i>
                        </button>                       
                    </div>
                    <div class="col-md-1 col-lg-1">{{album.id}}</div>
                    <div class="col-md-3 col-lg-3">
                        <div class="form-group">
                            <input type="text" v-model="album.name" class="form-control" placeholder="Enter Name">          
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <select class="form-control" v-model="album.artist_id">
                            <option v-for="artist, index in artists" v-bind:value="artist.id">
                                {{artist.name}}
                            </option>
                        </select> 
                    </div>
                    <div class="col-md-2 col-lg-2">{{album.updated_at}}</div>
                    <div class="col-md-1 col-lg-1">
                        <button class="btn btn-success" v-on:click="update(album.id, index)"><i class="fa fa-save" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <button class="btn btn-danger" v-on:click="del(album.id, index)" ><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>  
            </div>        
        </div> 
    </div>
</template>
 
<script>   
    export default {        
        data: function () {
            return { 
                albums: [],
                artists: [],
                new_album: {
                    name: '',
                    artist_id: ''
                },
                searching: {
                    name: ''
                }
            }
        },
        mounted() {
            this.read();            
            this.getFavoriteAlbums();//@todo replace to api gateway 
            this.getArtists();
        },
        methods: {            
            read() {
                var app = this;
                axios.get('/api/albums').then(function (resp) { 
                    app.albums = resp.data.data;
                }).catch(function (resp) {
                    alert("Failed to load albums");
                });            
            },
            create() {
                event.preventDefault();
                var app = this;
                axios.post('/api/artists/'+ app.new_album.artist_id + '/albums', app.new_album).then(function (resp) {
                      app.albums.push(resp.data.data);
                    }).catch(function (resp) {
                        alert("Failed to create album");
                });            
            },
            update(id, index) {
                var app = this;
                axios.put('/api/albums/'+id, app.albums[index]).then(function (resp) {
                        app.albums[index] = resp.data.data;
                    }).catch(function (resp) {
                        alert("Failed to update album");
                });            
            },        
            del(id, index) {                
                var app = this;
                axios.delete('/api/albums/'+id).then(function (resp) {
                    app.albums.splice(index, 1)
                }).catch(function (resp) {
                    alert("Failed to remove album");
                });
            },
            getArtists() {
                var app = this;
                axios.get('/api/artists').then(function (resp) {
                    app.artists = resp.data.data;
                }).catch(function (resp) {
                    alert("Failed to load artists");
                });
            },
            getFavoriteAlbums() {
                var app = this;
                axios.get('/api/albums/favorites').then(function (resp) { //@todo replace to api gateway
                    resp.data.data.forEach(favorite_album => {
                        app.albums.find(album => album.id === favorite_album.id).favorite = true;
                      });
                })
            },
            like(id, index) {
                var app = this;
                axios.post('/api/albums/'+id+'/favorites').then(function (resp) {
                    var album = app.albums.find(album => album.id === id);
                    album.favorite = true;
                    app.albums.splice(index, 1, album)
                })
            },
            unlike(id, index) {
                var app = this;
                axios.delete('/api/albums/'+id+'/favorites').then(function (resp) {
                    var album = app.albums.find(album => album.id === id);
                    album.favorite = false;
                    app.albums.splice(index, 1, album)
                })
            },
            search () {
                event.preventDefault();
                var app = this;
                axios.get('/api/albums/'+  app.searching.name).then(function (resp) {
                    app.albums = resp.data.data;
                }).catch(function (resp) {
                    alert("Failed to searc");
                });
            }
        }
    }
</script>