<template>
    <div id="app">
        <Navigation></Navigation>
        <div class="container">
            <Jumbotron></Jumbotron>
            <div class="row">           
                <div class="col-md-12 col-lg-12">
                    <router-view/>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Navigation from './Navigation'
    import Jumbotron from './Jumbotron'
    export default {
        name: 'app',
        components: {
            'Navigation': Navigation,
            'Jumbotron': Jumbotron,
        }
    }
</script>