<template>
    <div>
        <form class="search" v-on:submit="search()">
            <div class="row">
                <div class="col-md-3 col-lg-3"></div>
                <div class="col-md-6 col-lg-6">
                    <div class="input-group">
                        <input type="text" v-model="searching.name" class="form-control" placeholder="Start search ...">
                        <div class="input-group-append"> 
                            <button class="btn btn-primary ">Search</button>
                        </div>           
                    </div>
                </div>
                <div class="col-md-3 col-lg-3"></div>
            </div>
        </form> 
        <form class="add_new" v-on:submit="create()">
            <div class="row">
                <div class="col-md-2 col-lg-2 label">
                    <label for = "name">Name:</label>
                </div> 
                <div class="col-md-3 col-lg-3">
                    <div class="form-group">
                        <input type="text" v-model="new_artist.name" class="form-control" placeholder="Enter Name">          
                    </div>
                </div>
                <button class="btn btn-primary">Create</button>
            </div>
        </form>
        <div class="table">
            <div class="table-header">
                <div class="row">
                    <div class="col-md-1 col-lg-1"></div>                
                    <div class="col-md-1 col-lg-1">
                        <label>ID</label>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <label>Created</label>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label>Updated</label>
                    </div>
                    <div class="col-md-1 col-lg-1"></div>
                    <div class="col-md-1 col-lg-1"></div>
                </div>  
            </div>
            <div class="table-body">
                <div class="row" v-for="artist, index in artists">
                    <div class="col-md-1 col-lg-1">
                        <button v-if="artist.favorite === true" class="btn btn-primary" v-on:click="unlike(artist.id, index)">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>                       
                        <button v-else class="btn btn-primary" v-on:click="like(artist.id, index)">
                            <i class="fa fa-star empty" aria-hidden="true"></i>
                        </button>   
                    </div>
                    <div class="col-md-1 col-lg-1">{{artist.id}}</div>
                    <div class="col-md-3 col-lg-3">
                        <div class="form-group">
                            <input type="text" v-model="artist.name" class="form-control" placeholder="Enter Name">          
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">{{artist.created_at}}</div>
                    <div class="col-md-2 col-lg-2">{{artist.updated_at}}</div>
                    <div class="col-md-1 col-lg-1">
                        <button class="btn btn-success" v-on:click="update(artist.id, index)"><i class="fa fa-save" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <button class="btn btn-danger" v-on:click="del(artist.id, index)" ><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>  
            </div>        
        </div> 
    </div>
</template>
 
<script>   
    export default {        
        data: function () {
            return { 
                artists: [],
                new_artist: {
                    name: ''
                },
                searching: {
                    name: ''
                }
            }
        },
        mounted() {
            this.read();
            this.getFavoriteArtists();
        },
        methods: {            
            read() {
                var app = this;
                axios.get('/api/artists').then(function (resp) { 
                    app.artists = resp.data.data;
                }).catch(function (resp) {
                    alert("Failed to load artists");
                });
            },
            create() {
                event.preventDefault();
                var app = this;
                axios.post('/api/artists', app.new_artist).then(function (resp) {
                      app.artists.push(resp.data.data);
                    }).catch(function (resp) {
                        alert("Failed to create artist");
                });            
            },
            update(id, index) {
                var app = this;
                axios.put('/api/artists/'+id, app.artists[index]).then(function (resp) {
                        app.artists[index] = resp.data.data;
                    }).catch(function (resp) {
                        alert("Failed to update artist");
                });            
            },        
            del(id, index) {                
                var app = this;
                axios.delete('/api/artists/'+id).then(function (resp) {
                    app.artists.splice(index, 1)
                }).catch(function (resp) {
                    alert("Failed to remove artist");
                });
            },
            getFavoriteArtists() {
                var app = this;
                axios.get('/api/artists/favorites').then(function (resp) { //@todo replace to api gateway
                    resp.data.data.forEach(favorite_artist => {
                        app.artists.find(artist => artist.id === favorite_artist.id).favorite = true;
                      });
                });
            },
            like(id, index) {
                var app = this;
                axios.post('/api/artists/'+id+'/favorites').then(function (resp) {
                    var artist = app.artists.find(artist => artist.id === id);
                    artist.favorite = true;
                    app.artists.splice(index, 1, artist)
                })
            },
            unlike(id, index) {
                var app = this;
                axios.delete('/api/artists/'+id+'/favorites').then(function (resp) {
                    var artist = app.artists.find(artist => artist.id === id);
                    artist.favorite = false;
                    app.artists.splice(index, 1, artist)
                })
            },
            search () {
                event.preventDefault();
                var app = this;
                axios.get('/api/artists/'+  app.searching.name).then(function (resp) {
                    app.artists = resp.data.data;
                }).catch(function (resp) {
                    alert("Failed to searc");
                });
            }
        }
    }
</script>