<template>
    <div>
        <form class="search" v-on:submit="search()">
            <div class="row">
                <div class="col-md-3 col-lg-3"></div>
                <div class="col-md-6 col-lg-6">
                    <div class="input-group">
                        <input type="text" v-model="searching.name" class="form-control" placeholder="Start search ...">
                        <div class="input-group-append"> 
                            <button class="btn btn-primary ">Search</button>
                        </div>           
                    </div>
                </div>
                <div class="col-md-3 col-lg-3"></div>
            </div>
        </form>      
        <form class="add_new" v-on:submit="create()">
            <div class="row">
                <div class="col-md-2 col-lg-2 label">
                    <label for = "name">Name:</label>
                </div> 
                <div class="col-md-3 col-lg-3">
                    <div class="form-group">
                        <input type="text" v-model="new_genre.name" class="form-control" placeholder="Enter Name">          
                    </div>
                </div>
                <button class="btn btn-primary">Create</button>
            </div>
        </form>
        <div class="table">
            <div class="table-header">
                <div class="row">
                    <div class="col-md-1 col-lg-1"></div>                
                    <div class="col-md-1 col-lg-1">
                        <label>ID</label>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <label>Created</label>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label>Updated</label>
                    </div>
                    <div class="col-md-1 col-lg-1"></div>
                    <div class="col-md-1 col-lg-1"></div>
                </div>  
            </div>
            <div class="table-body">
                <div class="row" v-for="genre, index in genres">
                    <div class="col-md-1 col-lg-1"></div>
                    <div class="col-md-1 col-lg-1">{{genre.id}}</div>
                    <div class="col-md-3 col-lg-3">
                        <div class="form-group">
                            <input type="text" v-model="genre.name" class="form-control" placeholder="Enter Name">          
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">{{genre.created_at}}</div>
                    <div class="col-md-2 col-lg-2">{{genre.updated_at}}</div>
                    <div class="col-md-1 col-lg-1">
                        <button class="btn btn-success" v-on:click="update(genre.id, index)"><i class="fa fa-save" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <button class="btn btn-danger" v-on:click="del(genre.id, index)" ><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>  
            </div>        
        </div> 
    </div>
</template>
 
<script>
    export default {
        data: function () {
            return { 
                genres: [],
                new_genre: {
                    name: ''
                },
                searching: {
                    name: ''
                }
            }
        },
        mounted() {
            this.read();
        },
        methods: {            
            read() {
                var app = this;
                axios.get('/api/genres').then(function (resp) { 
                    app.genres = resp.data.data;
                }).catch(function (resp) {
                    alert("Failed to load genres");
                });
            },
            create() {
                event.preventDefault();
                var app = this;
                axios.post('/api/genres', app.new_genre).then(function (resp) {
                      app.genres.push(resp.data.data);
                    }).catch(function (resp) {
                        alert("Failed to create genre");
                });            
            },
            update(id, index) {
                var app = this;
                axios.put('/api/genres/'+id, app.genres[index]).then(function (resp) {
                        app.genres[index] = resp.data.data;
                    }).catch(function (resp) {
                        alert("Failed to update genre");
                });            
            },        
            del(id, index) {                
                var app = this;
                axios.delete('/api/genres/'+id).then(function (resp) {
                    app.genres.splice(index, 1)
                }).catch(function (resp) {
                    alert("Failed to remove genre");
                });
            },
            search () {
                event.preventDefault();
                var app = this;
                axios.get('/api/genres/'+  app.searching.name).then(function (resp) {
                    app.genres = resp.data.data;
                }).catch(function (resp) {
                    alert("Failed to searc");
                });
            }
        }
    }
</script>