<template>
  <div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Music app</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" v-for="routes in links">
                            <router-link class="nav-link" v-bind:key="routes.id" :to="`${routes.page}`">{{routes.text}}</router-link>                            
                        </li>                                 
                    </ul>
                </div>
            </div>
        </nav>
    </header>    
  </div>
</template>

<script>
export default {
  name: 'Navigation',
  data() {
    return {
      links: [
        {
          id: 0,
          text: 'Artists',
          page:'/artists'
        },
        {
          id: 1,
          text: 'Albums',
          page:'/albums'
        },
        {
          id: 2,
          text: 'Songs',
          page:'/songs'
        },
        {
          id: 3,
          text: 'Genres',
          page:'/genres'
        }
      ]
    }
  }
}
</script>
<style>
.spacing {
  margin-right: 10px;
}
</style>