<template>
    <div>
        <form class="search" v-on:submit="search()">
            <div class="row">
                <div class="col-md-3 col-lg-3"></div>
                <div class="col-md-6 col-lg-6">
                    <div class="input-group">
                        <input type="text" v-model="searching.name" class="form-control" placeholder="Start search ...">
                        <div class="input-group-append"> 
                            <button class="btn btn-primary ">Search</button>
                        </div>           
                    </div>
                </div>
                <div class="col-md-3 col-lg-3"></div>
            </div>
        </form>   
        <form class="add_new" v-on:submit="create()">
            <div class="row">
                <div class="col-md-2 col-lg-2 label">
                    <label for = "name">Name:</label>
                </div> 
                <div class="col-md-3 col-lg-3">
                    <div class="form-group">
                        <input type="text" v-model="new_song.name" class="form-control" placeholder="Enter Name">          
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div class="form-group">
                        <select class="form-control" v-model="new_song.album_id">
                            <option disabled value="">Choose one</option>
                            <option v-for="album, index in albums" v-bind:value="album.id">
                                {{album.name}}
                            </option>
                        </select>       
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div class="form-group">
                        <select class="form-control" v-model="new_song.genre_id">
                            <option disabled value="">Choose one</option>
                            <option v-for="genre, index in genres" v-bind:value="genre.id">
                                {{genre.name}}
                            </option>
                        </select>       
                    </div>
                </div>
                <button class="btn btn-primary">Create</button>
            </div>
        </form>
        <div class="table">
            <div class="table-header">
                <div class="row">
                    <div class="col-md-1 col-lg-1"></div>                
                    <div class="col-md-1 col-lg-1">
                        <label>ID</label>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label>Album</label>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label>Genre</label>
                    </div>
                    <div class="col-md-1 col-lg-1">
                    </div>
                    <div class="col-md-1 col-lg-1">
                    </div>
                </div>  
            </div>
            <div class="table-body">
                <div class="row" v-for="song, index in songs">
                    <div class="col-md-1 col-lg-1">
                        <button v-if="song.favorite === true" class="btn btn-primary" v-on:click="unlike(song.id, index)">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>                       
                        <button v-else class="btn btn-primary" v-on:click="like(song.id, index)">
                            <i class="fa fa-star empty" aria-hidden="true"></i>
                        </button>   
                    </div>
                    <div class="col-md-1 col-lg-1">{{song.id}}</div>
                    <div class="col-md-3 col-lg-3">
                        <div class="form-group">
                            <input type="text" v-model="song.name" class="form-control" placeholder="Enter Name">          
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="form-group">
                            <select class="form-control" v-model="song.album_id">
                                <option v-for="album, index in albums" v-bind:value="album.id">
                                    {{album.name}}
                                </option>
                            </select>       
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="form-group">
                            <select class="form-control" v-model="song.genre_id">                                
                                <option v-for="genre, index in genres" v-bind:value="genre.id">
                                    {{genre.name}}
                                </option>
                            </select>       
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <button class="btn btn-success" v-on:click="update(song.id, index)"><i class="fa fa-save" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <button class="btn btn-danger" v-on:click="del(song.id, index)" ><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>  
            </div>        
        </div> 
    </div>
</template>
 
<script>   
    export default {        
        data: function () {
            return {
                albums: [],
                genres: [], 
                songs: [],
                new_song: {
                    name: '',
                    album_id: '',
                    genre_id: ''
                },
                searching: {
                    name: ''
                }
            }
        },
        mounted() {
            this.read();
            this.getFavoriteSongs()
            this.getAlbums();
            this.getGenres();
        },
        methods: {            
            read() {
                var app = this;
                axios.get('/api/songs').then(function (resp) { 
                    app.songs = resp.data.data;
                }).catch(function (resp) {
                    alert("Failed to load songs");
                });
            },
            create() {
                event.preventDefault();
                var app = this;
                axios.post('/api/albums/' + app.new_song.album_id + '/songs', app.new_song).then(function (resp) {
                      app.songs.push(resp.data.data);
                    }).catch(function (resp) {
                        alert("Failed to create song");
                });            
            },
            update(id, index) {
                var app = this;
                axios.put('/api/songs/'+id, app.songs[index]).then(function (resp) {
                        app.songs[index] = resp.data.data;
                    }).catch(function (resp) {
                        alert("Failed to update song");
                });            
            },        
            del(id, index) {                
                var app = this;
                axios.delete('/api/songs/'+id).then(function (resp) {
                    app.songs.splice(index, 1)
                }).catch(function (resp) {
                    alert("Failed to remove song");
                });
            },
            getAlbums() {
                var app = this;
                axios.get('/api/albums').then(function (resp) { 
                    app.albums = resp.data.data;
                }).catch(function (resp) {
                    alert("Failed to load albums");
                });
            },
            getGenres() {
                var app = this;
                axios.get('/api/genres').then(function (resp) { 
                    app.genres = resp.data.data;
                }).catch(function (resp) {
                    alert("Failed to load genres");
                });
            },
            getFavoriteSongs() {
                var app = this;
                axios.get('/api/songs/favorites').then(function (resp) { //@todo replace to api gateway
                    resp.data.data.forEach(favorite_song => {
                        app.songs.find(song => song.id === favorite_song.id).favorite = true;
                      });
                })
            },
            like(id, index) {
                var app = this;
                axios.post('/api/songs/'+id+'/favorites').then(function (resp) {
                    var song = app.songs.find(song => song.id === id);
                    song.favorite = true;
                    app.songs.splice(index, 1, song)
                })
            },
            unlike(id, index) {
                var app = this;
                axios.delete('/api/songs/'+id+'/favorites').then(function (resp) {
                    var song = app.songs.find(song => song.id === id);
                    song.favorite = false;
                    app.songs.splice(index, 1, song)
                })
            },
            search () {
                event.preventDefault();
                var app = this;
                axios.get('/api/songs/'+  app.searching.name).then(function (resp) {
                    app.songs = resp.data.data;
                }).catch(function (resp) {
                    alert("Failed to searc");
                });
            }

        }
    }
</script>